<!-- http://tympanus.net/Development/DynamicGrid/ -->
<div id="cards" ng-controller="CardsCtrl">

    <div id="gt-grid" class="gt-grid">
        <div><h1>Joinville-Le-Pont - RER A</h1></div>
        <div><h3>La Défense - RER A</h3></div>
        <div><h3>Ecole de Gravelle</h3></div>
        <div><h3>Ecole de Gravelle</h3></div>
        <div class="special"><h3><a class="current-demo" href="#">Some card</a></h3></div>
        <div class="special"><h3><a href="#">Another card</a></h3></div>
        <div class="special"><h3><a href="#">Some other card</a></h3></div>
        <div><h3>bunya nuts</h3></div>
    </div>

</div>
