
    <div id="main" class="ng-cloack" ng-controller="MapLayoutCtrl">

        <div id="sidebar-left" ng-show="showLeftSidebar" class="hidden">
            <div id="sidebar-left-content"></div>
        </div>

        <div id="main-content" class="left-full">
            <div id="map" class="ng-cloack" ng-controller="MapCtrl">
                <div id="map-canvas"></div>
            </div>
        </div>

        <div id="sidebar-right">

            <div id="sidebar-right-content" ng-show="showRightSidebar">

                <div id="stops" class="ng-cloack" ng-controller="StopsCtrl">

                    <div class="search">
                        <input id="search-filter" type="text" placeholder="Rechercher" ng-model="searchFilter" ng-change="onSearchFilterChange()" />
                    </div>

                    <div id="stop-row-{{index}}" class="stop" ng-repeat="stop in stops" ng-controller="StopCtrl">
                        <div class="stop-title" ng-click="stopSelect()">
                            <aside>
                                {{::(stop.distance / 1000).toFixed(3)}} km
                            </aside>
                            <h2>{{::stop.name}}</h2>
                            <h3>{{::stop.desc}}</h3>
                        </div>
                        <div id="stop-time-{{stop.index}}" class="stop-content" ng-controller="StopLinesCtrl">
                            <div class="route" ng-repeat="route in stop.routes" ng-controller="StopLineCtrl">
                                <div class="route-title" ng-click="toggleContent()">
                                    <aside class="left" style="background-color:#{{::route.route_color}}; color:#{{::route.route_text_color}};">{{::route.name}}</aside>
                                    <aside class="right" ng-switch on="route.route_type" style="white-space: nowrap;">
                                        <span class="nextStopTime" ng-show="nextStopTime">{{::nextStopTime}} min.</span>
                                        <div class="transportType" style="display: inroute-block;">
                                            <div class="animate-switch" ng-switch-when="1"><button><ng-include src="'/images/metro.svg'" alt="Metro" /></button></div>
                                            <div class="animate-switch" ng-switch-when="2"><button><ng-include src="'/images/train.svg'" alt="Train" /></button></div>
                                            <div class="animate-switch" ng-switch-when="3"><button><ng-include src="'/images/bus.svg'" alt="Bus" /></button></div>
                                            <div class="animate-switch" ng-switch-when="4">Ferry</div>
                                            <div class="animate-switch" ng-switch-when="5">Téléphérique</div>
                                            <div class="animate-switch" ng-switch-when="6">Gondole</div>
                                            <div class="animate-switch" ng-switch-when="7">Féniculaire</div>
                                            <div class="animate-switch" ng-switch-default>default</div>
                                        </div>
                                    </aside>
                                    <h3>{{::route.first_stop_name}}</h3>
                                    <h4>{{::route.last_stop_name}}</h4>
                                </div>
                                <div class="route-content" ng-show="showContent">
                                    <ul class="stop-times">
                                        <li ng-repeat="stop_time in route.stop_times">
                                            {{::stop_time}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
