<!doctype html>
<html lang="fr" ng-app="gtfsApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <title>Helyx.io - Playground</title>
    <link href='//fonts.googleapis.com/css?family=Ubuntu:300,700' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="/bower_components/foundation/css/foundation.css" />
    <link rel="stylesheet" href="/bower_components/foundation/css/normalize.css" />

    <link rel="stylesheet" href="/styles/app.css" />

    <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/foundation/js/foundation.min.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>

    <script src="/scripts/app.js"></script>


    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="Helyx.io"/>
    <meta name="msapplication-TileColor" content="#345D79" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
</head>
<body>

<div id="content">

    <div id="sidebar">
        <div id="settings">
            <button id="#btn-stops"><img src="/images/stops.png" alt="Stops" /></button>
            <button id="#btn-calendar"><img src="/images/calendar.png" alt="Calendar" /></button>
            <button id="#btn-settings"><img src="/images/settings.png" alt="Settings" /></button>
        </div>

        <div id="sidebar-calendar-container" ng-cloak ng-controller="SidebarCalendarController">
            <div id="sidebar-calendar">
                <h1>Calendar</h1>
                <div id="days">
                    <div id="day-{{index}}" ng-repeat="day in days" class="day {{day._class}}">
                        <aside>{{day.day}}</aside>
                        <h4>{{day.weekDay}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div id="sidebar-stops-container" ng-cloak ng-controller="SidebarStopsController">
            <div id="sidebar-stops">
                <h1>Stops</h1>
                <div id="sidebar-stops-content">
                    <div id="sidebar-stop-row-{{index}}" ng-repeat="stop in stops" class="sidebar-stop {{stop._class}}">
                        <h4>{{stop.stop_name}} ({{stop.stop_id}})</h4>
                        <h5>{{stop.stop_desc}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main" ng-cloak ng-controller="MainController">
        <div class="page-title">
            <aside><button id="toggle-map" ng-click="toggleMap()"><img src="/images/map.png"></button></aside>
            <h1>{{date}}</h1>
        </div>

        <div id="map" ng-cloak ng-controller="MapController">
            <div id="map-canvas"></div>
        </div>

        <div id="stops" ng-cloak ng-controller="StopsController">
            <div id="stop-row-{{index}}" class="stop" ng-repeat="stop in stops" ng-controller="StopController">
                <div class="stop-title">
                    <aside>{{(stop.stop_distance / 1000).toFixed(3)}} km</aside>
                    <h2>{{stop.stop_name}} ({{stop.stop_id}})</h2>
                    <h3>{{stop.stop_desc}} - <a href="{{stop.stop_loc_link}}" target="blank">Map</a></h3>
                </div>
                <div id="stop-time-{{stop.index}}" class="stop-content" ng-controller="StopLinesController">
                    <div class="line" ng-repeat="line in lines" ng-controller="StopLineController">
                        <div class="line-title">
                            <span style="background-color:#{{line.route_color}}; color:#{{line.route_text_color}};">{{line.name}}</span>
                        </div>
                        <div class="line-content">
                            <ul class="stop-times">
                                <li ng-repeat="stop_time in line.stop_times">
                                    {{stop_time.arrival_time}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /// Application
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    var gtfsApp = angular.module('gtfsApp', []);


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /// Factory
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    gtfsApp.factory('Globals', function() {

//        var config = { // St-Maurice
//            dataset: 'RATP_GTFS_FULL',
//            date: '2014-12-20' +
//            '', // moment().format("YYYY-MM-DD")
//            geo: {
//                lat: 48.814593,
//                lon: 2.4586253
//            },
//            distance: 1000,
//            locations: 1,
//            ignoreDay: 1
//        };

        var config = { // Renne
            dataset: 'STAR_GTFS_RENNES',
            date: '2015-01-15', // moment().format("YYYY-MM-DD")
            geo: {
                lat: 48.1091,
                lon: -1.47841
            },
            distance: 1000,
            locations: 1,
            ignoreDay: 0,
            stopId: '4152'
        };

        return {
            baseURL: location.hostname == 'localhost' ? 'http://localhost:9000' : 'http://gtfs.helyx.io',
            config: config
        };
    });


    gtfsApp.factory('CalendarService', function($http, $q, Globals) {
        var calendarService = {};

        var daysOfWeek = {
            1: "Monday",
            2: "Tuesday",
            3: "Wednesday",
            4: "Thursday",
            5: "Friday",
            6: "Saturday",
            7: "Sunday"
        };

        calendarService.dayOfWeekAsString = function(day) {
            return daysOfWeek[day];
        };

        calendarService.buildCalendar = function() {

            var defer = $q.defer();

            // Make it comparable with other built dates
            var today = moment(moment().format('YYYY-MM-DD'), 'YYYY-MM-DD');
            var selectedDate = moment(Globals.config.date, 'YYYY-MM-DD');

            var startOfCalendar = moment(today).add(-10, 'days');

            var days = [];

            var day = moment(startOfCalendar);
            for (var i = 0 ; i < 100 ; i++) {
                var dayClass = day.isSame(today) ? 'today' : (day.isSame(selectedDate) ? 'selected': '');
                days.push({ day: day.format('D'), weekDay: calendarService.dayOfWeekAsString(day.format('E')), date: day, _class: dayClass });
                day = moment(day).add(1, 'days');
            }

            defer.resolve(days);

            return defer.promise;
        };

        return calendarService;
    });

    gtfsApp.factory('StopService', function($http, $q, Globals) {
        var stopService = { };

        stopService.fetchStops = function(dataset, lat, lon, distance, locations) {

            if (stopService.stops) {
                var defer = $q.defer();
                defer.resolve(stopService.stops);
                return defer.promise;
            } else if (stopService.defer) {
                return stopService.defer.promise;
            }
            else {
                stopService.defer = $q.defer();

                var url = Globals.baseURL + '/api/agencies/' + dataset + '/stops/nearest?lat=' + lat + '&lon=' + lon + '&distance=' + distance + '&locations=' + locations;

                $http.get(url).success(function (stops, status, headers, config) {
                    stopService.stops = stops;
                    stopService.defer.resolve(stops);
                }).error(function (data, status, headers, config) {
                    stopService.defer.reject(new Error('HTTP error[' + status + ']'));
                });
            }

            return stopService.defer.promise;
        };

        stopService.fetchLinesStopTimes = function(dataset, stopId, date, ignoreDay) {
            var defer = $q.defer();

            var url = Globals.baseURL + '/api/agencies/' + dataset + '/stop-times-full/' + stopId + '/' + date + '?ignoreDay=' + ignoreDay;

            $http.get(url).success(function (stopTimes, status, headers, config) {
                defer.resolve(stopTimes);
            }).error(function (data, status, headers, config) {
                defer.reject(new Error('HTTP error[' + status + ']'));
            });

            return defer.promise;
        };

        return stopService;

    });

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /// Controllers
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    gtfsApp.controller('MainController', function($scope, Globals) {
        $scope.date = moment(Globals.config.date, "YYYY-MM-DD").format("DD/MM/YYYY");

        var mapElt = angular.element("#map");
        var stopsElt = angular.element('#stops');

        $scope.toggleMap = function() {
            if (mapElt.hasClass('hidden')) {
                console.log("Map is hidden. Going to be visible");
                mapElt.removeClass('hidden');
                stopsElt.addClass('hidden');
            } else {
                console.log("Map is visible. Going to be hidden");
                stopsElt.removeClass('hidden');
                mapElt.addClass('hidden');
            }
        }

        $scope.toggleMap();
     });

    gtfsApp.controller('SidebarCalendarController', function($scope, CalendarService) {
        $scope.days = [];

        CalendarService.buildCalendar().then(function(days) {
            $scope.days = days;
        });
    });

    gtfsApp.controller('SidebarStopsController', function($scope, $http, Globals, StopService) {

        $scope.stops = [];

        var config = Globals.config;

        StopService.fetchStops(config.dataset, config.geo.lat, config.geo.lon, config.distance, config.locations).then(function(stops) {
            $scope.stops = stops;

            $scope.stops.forEach(function (stop, index) {
                stop.index = index;
                stop._class = stop.stop_id == config.stopId ? 'selected' : '';
                stop.stop_loc_link = 'https://maps.google.com/maps?q=' + stop.stop_lat + ',' + stop.stop_lon
            });

        }).catch(function(err) {
            console.log(err);
        });

     });

    gtfsApp.controller('StopsController', function($scope, Globals, StopService) {

        $scope.stops = [];

        var config = Globals.config;

        StopService.fetchStops(config.dataset, config.geo.lat, config.geo.lon, config.distance, config.locations).then(function(stops) {

            $scope.stops = stops;

        }).catch(function(err) {
            console.log(err);
        });

    });


    gtfsApp.controller('StopController', function($scope, Globals, StopService) {

        $scope.lines = [];
        $scope.Math = window.Math;

        var config = Globals.config;

        StopService.fetchLinesStopTimes(config.dataset, $scope.stop.stop_id, config.date, config.ignoreDay).then(function(lines) {
            lines.forEach(function(line) {
                if (line.stop_times.length > 0) {
                    line.route_color = line.stop_times[0].route_color;
                    line.route_text_color = line.stop_times[0].route_text_color;
                }
            });

            $scope.lines = lines;

        }).catch(function(err) {
            console.log(err);
        });

    });


    gtfsApp.controller('StopLinesController', function($scope) {

    });


    gtfsApp.controller('StopLineController', function($scope) {

    });


    gtfsApp.controller('MapController', function($scope, $q, Globals, StopService) {

        $scope.stops = [];

        var config = Globals.config;

        $scope.initialize = function() {

            StopService.fetchStops(config.dataset, config.geo.lat, config.geo.lon, config.distance, config.locations).then(function(stops) {

                $scope.stops = stops;

                var geoLoc = new google.maps.LatLng(Globals.config.geo.lat, Globals.config.geo.lon);

                var mapOptions = {
                    zoom: 17,
                    center: geoLoc
                };

                var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                var myMarker = new google.maps.Marker({
                    position: geoLoc,
                    map: map,
                    title: stop.stop_name
                });

                $scope.stops.forEach(function(stop) {
                    new google.maps.Marker({
                        position: new google.maps.LatLng(stop.stop_lat, stop.stop_lon),
                        map: map,
                        title: stop.stop_name
                    });
                });

            }).catch(function(err) {
                console.log(err);
            });

        };

        google.maps.event.addDomListener(window, 'load', $scope.initialize);


    });

</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1889791-26', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
