* {
    font-family: "Helvetica Neue";
    font-weight: 100;
    color: #666666;
}

body {
    background-color: #FFFFFF;
    /*transform: translate3d(0,0,0);*/
    overflow: hidden;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

#content {
}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 66px;
}

#sidebar-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 240px;
    bottom: 0px;
    background: #FFFFFF;
    border-right: #E0E0E0 1px solid;
}

#sidebar-left-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 66px;
}

#sidebar-left-content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 66px;
    bottom: 0px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#main {
    position: absolute;
    width: 100%;
    top: 66px;
    bottom: 42px;
}

#main-content {
    position: absolute;
    margin: 0px;
    padding: 0px;
    left: 240px;
    right: 380px;
    top: 0px;
    bottom: 0px;
}

#sidebar-right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 380px;
    bottom: 0px;
    background: #FFFFFF;
    border-left: #E0E0E0 1px solid;
}

#sidebar-right-content {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 42px;
    margin: 0;
    padding: 0;
    background: red;
}


#map {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#map-canvas {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#map-canvas img {
    max-width:none;
}



#settings {
    height:66px;
    background: #F0F0F0;
    text-align: center;
}

#settings button {
    margin: 0px;
    padding: 0px;
    width: 66px;
    height: 66px;
    background: none;
    border: none;
    outline: none;
}

#settings button:hover {
    background: #E0E0E0;
}

#settings button img {
    margin: 0px;
    padding: 0px;
    width: 32px;
    height: 32px;
}

#sidebar-calendar {
    margin: 0px;
}
#sidebar-stops {
    margin: 0px;
}

#sidebar-calendar h1, #sidebar-stops h1 {
    margin: 10px 10px 0px 30px;
}

#days {
}

.day {
    margin: 2px 0px 2px 50px;
    padding: 2px 30px 2px 10px;
    cursor: pointer;
}

.day:hover {
    background: #FBFBFB;
}

.day.today:hover {
    background: #F0F0F0;
}

.day.today, .day.selected {
    background: #F9F9F9;
}

.day.selected {
}

.day h4 {
    font-size: 1.0em;
    margin: 0;
    color: #CCCCCC;
}

.day.today h4 {
    color: #999999;
}

.day.selected h4 {
    color: #f49790;
}

.day aside {
    float: right;
    width: 20px;
    font-size: 1.0em;
}

.day.selected aside {
    color: #f49790;
}





.sidebar-stop {
    margin: 2px 0px 2px 50px;
    padding: 2px 30px 2px 10px;
    cursor: pointer;
}

.sidebar-stop:hover {
    background: #FBFBFB;
}

.sidebar-stop.selected:hover {
    background: #F0F0F0;
}

.sidebar-stop.selected {
    background: #F9F9F9;
}

.sidebar-stop.selected {
}

.sidebar-stop h4 {
    font-size: 1.0em;
    margin: 0;
    color: #CCCCCC;
}

.sidebar-stop.selected h4 {
    color: #f49790;
}

.sidebar-stop h5 {
    font-size: 0.8em;
    margin: 0;
    color: #999999;
}


.sidebar-stop.selected h5 {
    color: #666666;
}




#header {
    margin: 0px 0px;
    background: #007095;
}

#header h1 {
    font-weight: 100;
    margin: 0px 10px;
    padding: 5px 10px;
    font-size: 2.5em;
    color: #FFFFFF;
}

#header aside {
    float: right;
}

#header aside button {
    margin: 0px;
    padding: 0px;
    width: 66px;
    height: 66px;
    background: none;
    border: none;
    outline: none;
}

#header aside button:hover {
    background: #006586;
}

#header aside button img {
    margin: 0px;
    padding: 0px;
    width: 32px;
    height: 32px;
}

#footer {
    margin: 0px 0px;
    background: #007095;
}

#footer h1 {
    text-align: right;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0px;
    padding: 7px 10px;
}


#stops {
    padding: 0px;
    background: #FBFBFB;
}

#stops h1 {
    font-weight: 100;
    margin: 10px;
    padding: 10px;
    background: #F0F0F0;
    font-size: 2.0em;
}

#stops h2 {
    margin: 5px 10px 0px 10px;
    font-size: 1.5em;
    color: #222222;
}

#stops h3 {
    margin: 0px 10px 5px 10px;
    color: #AAAAAA;
    font-size: 0.9em;
}


.stop {
    margin-bottom: 0px;
    background: #444444;
}

.stop-title {
    background: #F0F0F0;
    margin: 0px;
    padding: 2px 0px;
}

.stop-title aside {
    float: right;
    margin: 5px 10px;
}

.stop-content {
    margin: 20px 30px 0px 30px;
}

.lines {
    display: table;
}

.line-content {
    text-align: center;
}

.line:first-child {
    padding-left: 0px;
}

.line {
    display: table-cell;
    width: 280px;
    padding: 0 0px 20px 20px;
    vertical-align: top;
}

.line-title {
    margin: 0px;
    padding: 0px;
    background: #F6F6F6;
}

.line-title span {
    display: inline-block;
    font-size: 20px;
    width: 50px;
    padding: 2px 0px;
    margin: 0;
    text-align: center;
}

div.line ul {
    margin: 0;
    padding: 10px 5px;
    background: #FCFCFC;
}

ul.stop-times li {
    margin: 2px 5px;
    display: inline-block;
    width: 60px;
    text-align: center;
    font-size: 0.8em;
}

ul.stop-times li:hover {
    background: #E0E0E0;
    cursor: default;
}
