* {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  color: #666666;
}

body {
  background-color: #FFFFFF;
  /*transform: translate3d(0,0,0);*/
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #333;
}
#header > h1 {
  white-space: nowrap;
  display: block;
  color: #f0f0f0;
  top: 0;
  width: 250px;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  font-family: Lobster, sans-serif;
  vertical-align: baseline;
  padding: 0;
  margin: 0 auto;
}
#header > h1 > span i:before {
  color: #f0f0f0;
  font-size: 28px;
}
#header > h1 span {
  color: #ff6020;
  font-size: 24px;
  font-weight: 100;
  font-family: Lobster, sans-serif;
}

#sidebar-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  bottom: 0;
  background: #FFFFFF;
  border-right: #E0E0E0 1px solid;
}
#sidebar-left.hidden {
  left: -240px;
}

#sidebar-left-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

#sidebar-left-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#main {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

#main-content {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 240px;
  right: 480px;
  top: 0;
  bottom: 0;
}
#main-content.left-full {
  left: 0;
}
#main-content.right-full {
  right: 0;
}

#sidebar-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 480px;
  bottom: 0;
  background: #FFFFFF;
  border-left: #E0E0E0 1px solid;
}
#sidebar-right.hidden {
  right: -480px;
}

#sidebar-right-content {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#sidebar-right-content .search {
  margin: 0;
  padding: 6px;
  background: #F0F0F0;
}
#sidebar-right-content .search input {
  border: 1px solid #FFFFFF;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border-radius: 2px;
  outline: 0;
  box-shadow: none;
  height: 24px;
  text-align: center;
}
#sidebar-right-content .search input {
  width: 100%;
}

#footer {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 24px;
  margin: 0;
  padding: 0;
  background: #333;
}
#footer h1 {
  text-align: right;
  font-size: 12px;
  color: #FFFFFF;
  margin: 0;
  padding: 5px 10px;
}
#footer h1 span {
  color: #ff6020;
}

#map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#map-canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#map-canvas img {
  max-width: none;
}

button {
  cursor: pointer;
}

#settings {
  z-index: 10000;
  float: right;
  padding-right: 10px;
  height: 50px;
  text-align: right;
}
#settings button {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
#settings button:hover {
  background: #000;
}
#settings > ul {
  z-index: 2;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
#settings > ul > li {
  z-index: 2;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#settings > ul > li > ul {
  padding: 0;
  position: absolute;
  top: 50px;
  right: 0;
  min-width: 200px;
  text-align: left;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
#settings > ul > li > ul > li {
  padding: 15px;
  padding-left: 30px;
  background: #000;
  display: block;
  color: #fff;
}
#settings > ul > li > ul > li:hover {
  background: #222;
}
#settings > ul > li > ul > li > span > i.icon {
  color: #fff !important;
}
#settings > ul > li > ul > li > h1 {
  color: #fff;
  font-weight: 200;
  font-size: 1em;
  margin: 0;
  padding: 0;
  display: inline;
  padding-left: 10px;
  padding-right: 20px;
}
#settings > ul > li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
#settings > ul > li:hover:hover {
  background: #000;
  color: #fff;
}

#settings .selected {
  background: #000;
}

#sidebar-calendar {
  margin: 0;
}
#sidebar-calendar h1 {
  margin: 10px 10px 0 30px;
}

#sidebar-stops {
  margin: 0;
}
#sidebar-stops h1 {
  margin: 10px 10px 0 30px;
}

.day {
  margin: 2px 0 2px 50px;
  padding: 2px 30px 2px 10px;
  cursor: pointer;
}
.day:hover {
  background: #FBFBFB;
}
.day.today {
  background: #F9F9F9;
}
.day.today:hover {
  background: #F0F0F0;
}
.day.today h4 {
  color: #999999;
}
.day.selected {
  background: #F9F9F9;
}
.day.selected h4 {
  color: #f49790;
}
.day.selected aside {
  color: #f49790;
}
.day h4 {
  font-size: 1.0em;
  margin: 0;
  color: #CCCCCC;
}
.day aside {
  float: right;
  width: 20px;
  font-size: 1.0em;
}

.sidebar-stop {
  margin: 2px 0 2px 50px;
  padding: 2px 30px 2px 10px;
  cursor: pointer;
}
.sidebar-stop:hover {
  background: #FBFBFB;
}
.sidebar-stop.selected {
  background: #F9F9F9;
}
.sidebar-stop.selected:hover {
  background: #F0F0F0;
}
.sidebar-stop.selected h4 {
  color: #f49790;
}
.sidebar-stop.selected h5 {
  color: #666666;
}
.sidebar-stop h4 {
  font-size: 1.0em;
  margin: 0;
  color: #CCCCCC;
}
.sidebar-stop h5 {
  font-size: 0.8em;
  margin: 0;
  color: #999999;
}

#header-date {
  float: left;
  height: 50px;
  margin: 0;
  background: #333;
}
#header-date h1 {
  display: inline-block;
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  line-height: 1.8em;
  color: #FFFFFF;
}
#header-date button {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  outline: none;
}
#header-date button.selected {
  background: #000;
  color: #ff6020 !important;
}
#header-date button:hover {
  background: #000;
}

#stops {
  padding: 0;
  background: #FBFBFB;
}
#stops h1 {
  font-weight: 100;
  margin: 10px;
  padding: 10px;
  background: #F0F0F0;
  font-size: 2.0em;
}
#stops h2 {
  margin: 5px 10px 0 10px;
  font-size: 1.2em;
  color: #222222;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#stops h3 {
  margin: 0 10px 5px 10px;
  color: #AAAAAA;
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.stop {
  margin-bottom: 0;
  background: #444444;
}

.stop-title {
  background: #e9e9e9;
  margin: 0;
  padding: 2px 0;
  cursor: pointer;
}
.stop-title aside {
  float: right;
  text-align: right;
  font-size: 0.9em;
  margin: 5px 10px;
}
.stop-title aside button {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  outline: none;
}
.stop-title aside button svg {
  fill: #AAA;
  margin: 2px 0;
  padding: 0;
  width: 16px;
  height: 16px;
}
.stop-title:hover {
  background: #d1d1d1;
}

.stop-content {
  margin: 0;
}

.route-content {
  text-align: center;
}

.route {
  width: 100%;
  padding: 0;
  vertical-align: top;
}

#stops .route-title {
  margin: 0;
  padding: 0;
  height: 34px;
  background: #F6F6F6;
}
#stops .route-title h3 {
  margin: 0 0 0 60px;
  padding-top: 5px;
  line-height: 12px;
  font-size: 12px;
  color: #444;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#stops .route-title h4 {
  margin: 0 0 0 60px;
  line-height: 12px;
  font-size: 12px;
  color: #444;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#stops .route-title .nextStopTime {
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
  line-height: 24px;
}
#stops .route-title .transportType {
  display: inline-block;
  vertical-align: baseline;
  height: 26px;
}
#stops .route-title aside.left {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  height: 30px;
  font-size: 20px;
  width: 50px;
  padding: 2px 0;
  margin: 0;
  text-align: center;
}
#stops .route-title aside.right {
  float: right;
  margin: 4px 10px 0 10px;
}
#stops .route-title aside.right button {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  outline: none;
}
#stops .route-title aside.right button svg {
  fill: #005f7f;
  margin: 2px 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

div.route ul {
  margin: 0;
  padding: 10px 5px;
  background: #FCFCFC;
}

ul.stop-times li {
  margin: 2px 5px;
  display: inline-block;
  width: 60px;
  text-align: center;
  font-size: 0.8em;
}
ul.stop-times li:hover {
  background: #E0E0E0;
  cursor: default;
}

div.gm-style-iw ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
div.gm-style-iw ul .sm-route {
  display: inline-block;
  text-align: center;
  margin: 0 6px 0 0;
  padding: 0;
  font-size: 0.75em;
  width: 30px;
}

#cards {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
}
#cards * {
  color: #fff;
}

/* Grid style; make sure parent containers have full height */
.gt-grid {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
}

.gt-grid > div {
  width: 20%;
  height: 20%;
  float: left;
  background-color: #ed4e6e;
  position: relative;
  opacity: 1;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.gt-grid > div:hover:before,
.gt-grid > div.special:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.03);
}

.gt-grid > div:hover:before {
  background: rgba(0, 0, 0, 0.05);
}

.gt-grid > div.gt-hidden {
  opacity: 0;
  visibility: hidden;
}

.gt-grid > div.gt-visible {
  z-index: 999;
}

/* Some content styles */
.gt-grid > div:first-child {
  background-image: url(../images/changeme.png);
  background-repeat: no-repeat;
  background-position: 45px 10px;
}

.gt-grid > div h1,
.gt-grid > div h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  cursor: default;
}

.gt-grid > div h1 {
  padding: 0.5em;
  line-height: 0.9;
  font-weight: 300;
  text-align: right;
}

.gt-grid > div h3 {
  font-size: 1.05em;
  padding: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

/* The little grid to control the number of items */
.gt-grid-control {
  position: fixed;
  z-index: 1000;
  cursor: pointer;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
}

.gt-grid-icon {
  margin: 5px;
  display: block;
  font-size: 23px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.gt-grid-icon:before {
  font-family: 'Ionicons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  content: '\e000';
  color: #000;
  color: rgba(0, 0, 0, 0.35);
}

.gt-grid-select {
  width: 112px;
  height: 112px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.gt-grid-select > div {
  width: 22px;
  height: 22px;
  background: rgba(0, 0, 0, 0.3);
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.no-touch .gt-grid-control:hover .gt-grid-icon,
.gt-grid-control.gt-grid-control-open .gt-grid-icon {
  opacity: 0;
}

.no-touch .gt-grid-control:hover .gt-grid-select,
.gt-grid-control.gt-grid-control-open .gt-grid-select {
  visibility: visible;
  opacity: 1;
}

.gt-grid-select .gt-grid-selected {
  background: rgba(0, 0, 0, 0.4);
}

.gt-grid-select .gt-grid-hover {
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.1);
}

.cards .gt-grid > div {
  background-color: #fc654d;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.cards .gt-grid > div.gt-hidden {
  background-color: #fcdd4d;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
}
