* {
  font-family: "Helvetica Neue";
  font-weight: 100;
  color: #666666;
}

body {
  background-color: #FFFFFF;
  /*transform: translate3d(0,0,0);*/
  overflow: hidden;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ng-hide-add, .ng-hide-remove {
  /* ensure visibility during the transition */
  display: block !important;
  /* yes, important */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

#header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
}

#sidebar-left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 240px;
  bottom: 0px;
  background: #FFFFFF;
  border-right: #E0E0E0 1px solid;
}
#sidebar-left.hidden {
  left: -240px;
}

#sidebar-left-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
}

#sidebar-left-content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#main {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 32px;
}

#main-content {
  position: absolute;
  margin: 0px;
  padding: 0px;
  left: 240px;
  right: 380px;
  top: 0px;
  bottom: 0px;
}
#main-content.left-full {
  left: 0px;
}
#main-content.right-full {
  right: 0px;
}

#sidebar-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 420px;
  bottom: 0px;
  background: #FFFFFF;
  border-left: #E0E0E0 1px solid;
}
#sidebar-right.hidden {
  right: -420px;
}

#sidebar-right-content {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#sidebar-right-content .search {
  margin: 0;
  padding: 6px;
  background: #F0F0F0;
}
#sidebar-right-content .search input {
  border: 1px solid #FFFFFF;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border-radius: 2px;
  outline: 0;
  box-shadow: none;
  height: 24px;
  text-align: center;
}

#footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 32px;
  margin: 0;
  padding: 0;
}

#map {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

#map-canvas {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
#map-canvas img {
  max-width: none;
}

#settings {
  float: right;
  height: 50px;
  text-align: right;
}
#settings button {
  margin: 0px;
  padding: 0px;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  outline: none;
}
#settings button:hover {
  background: #005f7f;
}
#settings button svg {
  fill: #ffffff;
  margin: 8px 0px;
  padding: 0px;
  width: 32px;
  height: 32px;
}

#settings.selected {
  background: #005673;
}

#sidebar-calendar {
  margin: 0px;
}
#sidebar-calendar h1 {
  margin: 10px 10px 0px 30px;
}

#sidebar-stops {
  margin: 0px;
}
#sidebar-stops h1 {
  margin: 10px 10px 0px 30px;
}

.day {
  margin: 2px 0px 2px 50px;
  padding: 2px 30px 2px 10px;
  cursor: pointer;
}
.day:hover {
  background: #FBFBFB;
}
.day.today {
  background: #F9F9F9;
}
.day.today:hover {
  background: #F0F0F0;
}
.day.today h4 {
  color: #999999;
}
.day.selected {
  background: #F9F9F9;
}
.day.selected h4 {
  color: #f49790;
}
.day.selected aside {
  color: #f49790;
}
.day h4 {
  font-size: 1.0em;
  margin: 0;
  color: #CCCCCC;
}
.day aside {
  float: right;
  width: 20px;
  font-size: 1.0em;
}

.sidebar-stop {
  margin: 2px 0px 2px 50px;
  padding: 2px 30px 2px 10px;
  cursor: pointer;
}
.sidebar-stop:hover {
  background: #FBFBFB;
}
.sidebar-stop.selected {
  background: #F9F9F9;
}
.sidebar-stop.selected:hover {
  background: #F0F0F0;
}
.sidebar-stop.selected h4 {
  color: #f49790;
}
.sidebar-stop.selected h5 {
  color: #666666;
}
.sidebar-stop h4 {
  font-size: 1.0em;
  margin: 0;
  color: #CCCCCC;
}
.sidebar-stop h5 {
  font-size: 0.8em;
  margin: 0;
  color: #999999;
}

#header-date {
  height: 50px;
  margin: 0px 0px;
  background: #007095;
}
#header-date h1 {
  display: inline-block;
  vertical-align: top;
  font-weight: 100;
  margin: 0px 10px;
  padding: 5px 10px;
  font-size: 1.8em;
  color: #FFFFFF;
}
#header-date button {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  outline: none;
}
#header-date button.selected {
  background: #005673;
}
#header-date button:hover {
  background: #005f7f;
}
#header-date button svg {
  fill: #ffffff;
  margin: 8px 0px;
  padding: 0px;
  width: 32px;
  height: 32px;
}

#footer {
  margin: 0px 0px;
  background: #007095;
}
#footer h1 {
  text-align: right;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0px;
  padding: 5px 10px;
}

#stops {
  padding: 0px;
  background: #FBFBFB;
}
#stops h1 {
  font-weight: 100;
  margin: 10px;
  padding: 10px;
  background: #F0F0F0;
  font-size: 2.0em;
}
#stops h2 {
  margin: 5px 10px 0px 10px;
  font-size: 1.2em;
  color: #222222;
}
#stops h3 {
  margin: 0px 10px 5px 10px;
  color: #AAAAAA;
  font-size: 0.9em;
}

.stop {
  margin-bottom: 0px;
  background: #444444;
}

.stop-title {
  background: #e9e9e9;
  margin: 0px;
  padding: 2px 0px;
  cursor: pointer;
}
.stop-title aside {
  float: right;
  text-align: right;
  font-size: 0.9em;
  margin: 5px 10px;
}
.stop-title aside button {
  margin: 0px;
  padding: 0px;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  outline: none;
}
.stop-title aside button svg {
  fill: #AAA;
  margin: 2px 0px;
  padding: 0px;
  width: 16px;
  height: 16px;
}
.stop-title:hover {
  background: #d1d1d1;
}

.stop-content {
  margin: 0px;
}

.route-content {
  text-align: center;
}

.route {
  width: 100%;
  padding: 0px;
  vertical-align: top;
}

#stops .route-title {
  margin: 0px;
  padding: 0px;
  height: 34px;
  background: #F6F6F6;
}
#stops .route-title h3 {
  margin: 0px 0px 0px 60px;
  padding-top: 5px;
  line-height: 12px;
  font-size: 12px;
  color: #444;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#stops .route-title h4 {
  margin: 0px 0px 0px 60px;
  line-height: 12px;
  font-size: 12px;
  color: #444;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#stops .route-title .nextStopTime {
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
  line-height: 24px;
}
#stops .route-title .transportType {
  display: inline-block;
  vertical-align: baseline;
  height: 26px;
}
#stops .route-title aside.left {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  width: 50px;
  padding: 2px 0px;
  margin: 0;
  text-align: center;
}
#stops .route-title aside.right {
  float: right;
  margin: 4px 10px 0px 10px;
}
#stops .route-title aside.right button {
  margin: 0px;
  padding: 0px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  outline: none;
}
#stops .route-title aside.right button svg {
  fill: #005f7f;
  margin: 2px 0px;
  padding: 0px;
  width: 20px;
  height: 20px;
}

div.route ul {
  margin: 0;
  padding: 10px 5px;
  background: #FCFCFC;
}

ul.stop-times li {
  margin: 2px 5px;
  display: inline-block;
  width: 60px;
  text-align: center;
  font-size: 0.8em;
}
ul.stop-times li:hover {
  background: #E0E0E0;
  cursor: default;
}

div.gm-style-iw ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
div.gm-style-iw ul .sm-line {
  display: inline-block;
  text-align: center;
  margin: 0 6px 0 0;
  padding: 0;
  font-size: 0.75em;
  width: 30px;
}
