/* Mixins */
/* Styles Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Application styles */
html {
  font-family: "Myriad Pro", Lucida, Arial;
}

header {
  position: relative;
  border: 20px 0;
  background: #682c5f;
  background-image: url("/images/header-background.png");
  background-repeat: repeat-x;
}
header a {
  color: #fff;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}

section#main {
  min-height: 450px;
  margin: 40px 20px 20px 20px;
}

section#content a {
  color: #444;
  text-decoration: none;
}
section#content a:hover {
  text-decoration: underline;
}
section#content #auth {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: #ffffff;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  height: 240px;
  padding-top: 20px;
  margin: auto;
  width: 50%;
  min-width: 460px;
  max-width: 460px;
}
section#content #auth ul li {
  margin: 20px;
  list-style: none;
  font-weight: 300;
}
section#content #auth ul li img {
  width: 32px;
  vertical-align: middle;
  margin-right: 10px;
}
@media screen and (max-width: 640px) {
  section#content #auth {
    bottom: 50px;
    height: 190px;
    width: 65%;
    font-size: 0.9em;
    min-width: 300px;
    max-width: 420px;
  }
  section#content #auth ul li {
    margin: 5px;
  }
  section#content #auth > img {
    width: 220px;
  }
}
